# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# Directory created by dartdoc
doc/api/

# macOS
.DS_Store

# LAPACK testing
test/*.out
test/*.txt

# BLAS testing
test/blas/*.SNAP
test/blas/*.out

# example output
example/output.svg
